{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>
    {% block page_title %} {% endblock page_title %}
  </title>

    <!-- Bootstrap core CSS -->
  {% block page_css %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
  {% endblock page_css %}
</head>

<body>
    <header class="">

        {% include "partials/header.html" %}

    </header>

        {% block page_content %}
        {% endblock page_content %}

  <footer class="py-5 bg-dark mt-3">

    {% include "partials/footer.html" %}

  </footer>

    {% block  page_js %}

       <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    {% endblock page_js%}
</body>

</html>
